.main-div {
    height: 100px;
    background-color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.content{
    height: 200px;
    background-color: rgb(11, 134, 143);
    padding: 10px;
    margin: 10px;
    text-align: center;
}