*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: #1f0e0ee3;
}
.logo{
  width:100px;
  height:100px;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
nav{
    flex:1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #e4a024a1;
}
a:hover 
{
    color: rgb(241, 235, 235);
}
a.active 
{
    background-color: #04AA6D;
    color: white;
}
.navbar-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    background-color: #1f0e0ee3;
}
.main_container {
    height: calc(100% - 56px);
    display: flex;
}
.sidebar-panel{
    margin: 0;
    padding: 0px;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}
.sideimg
{
    display: flex;
    width: 200px;
    height: 480px;
    padding: 10px;

}

.row {
    padding-left: 10px;
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  .column {
    float: left;
    width: 25%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    display:grid;
    padding: 10px;
    overflow: hidden; 
    object-fit: cover;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }